root = 'http://nargalzius.github.io'

!!!5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="description",content="Nargalzius")
		title Nargalzius
		link(rel="stylesheet", type="text/css", href="f/c/main.css")
	body

		:markdown

			## JavaScript/HTML

			* [Showdown](#{root}/ajax/showdown/0.9/showdown.js)
			* [xml2json](#{root}/ajax/xml2json/1.3/jquery.xml2json.js)
			* [Lightbox\_me](#{root}/ajax/lightbox_me/2.3/jquery.lightbox_me.js)
//			* Joystick - [Preview Prototype](#{root}/ajax/joystick/preview)
//			* Joystick - [DOM Loader](#{root}/ajax/joystick/dom_loader)
//			* Joystick - [Expanding](#{root}/ajax/joystick/expanding)
//			* Joystick - [Expanding Lightbox](#{root}/ajax/joystick/expanding_lightbox)
//			* Joystick - [GMaps Helper](#{root}/ajax/joystick/gmaps_helper)

			## Flash/ActionScript
			
//			* Joystick - [Studio v2 AS3 Expanding](#{root}/flash/joystick/as3/studio/v2/expanding)
//			* Joystick - [Vanilla AS3 Expanding](#{root}/flash/joystick/as3/expanding)
		
		//* Joystick - [Unified Video](/flash/joystick/as3/expanding)